
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300;1,400&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: headings;
  font-display: swap;
  font-weight: 700;
  src: url(https://static.saltinourhair.com/build/fonts/SaltHeading.woff2)
      format("woff2"),
    url(https://static.saltinourhair.com/build/fonts/SaltHeading.woff)
      format("woff");
}
body{
  font-family: headings;
  align-items: center;
  color: #353535;
}
.h1-container{  
  line-height: 30px;
  text-align: center;
  width: 100%;
  height: 150px;
  margin: 20px 0 0;
}
.h1-container h1{
  font-family: headings;
  font-weight: 700;
  font-size: 100px;
  color: #353535;
  letter-spacing: -1.5px;
  line-height: 130px;
  margin: 100px 0px 10px;
} 
.goto-container{
  width: 1100px;
  height: 70px;
  background-color: #FCFCFC;
  border-radius: 20px;
  box-shadow: #cccccc 2px 2px 2px 0;
  margin: auto;
  color: #353535;
}
.goto-container p{
  position: absolute;
  width: auto;
  height: 50px;
  margin: 20px;
}
.goto-container ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  height: 74px;
}
.goto-li{
 margin: 5px 5px 0 5px ; 
 height: 50px;
 width: auto;
 display: inline-block;
}
.goto-container span{
  margin: 10px;
  float: left;
  margin-top: 20px;
}
.goto-a{
  margin-top: 13px;
  text-align: center;
  display: inline-flex;
  position: relative;
  border-radius: 20px;
  background-color: #C1E2E1;
  padding: 4px;
}
.goto-container a:hover{
  background-color: #8febee;
}
.goto-li-ctn{
  width: 1100px;
  height: 70px;
  position: absolute;
  margin: auto;
  padding-left: 70px;
}
.body-ctn{
  width: 1100px;
  height: 1500px;
  line-height: 30px;
  margin: auto;
}
.featured-container {
  position: absolute;
  width: 1100px;
  height: auto;
  top: 415px; 
}
.featured-post-ctn{
  display: flex;
  width: inherit;
  height: auto;
}
.featured-container h2{
  font-size: 36px;
  height: fit-content;
  margin: 0 0 20px 0;
}
.featured-img{
  width: 540px;
  height: 280px;
}
.image-ctn{
  width: 540px;
  height: 280px;
  overflow: hidden;
  border-radius: 5px;
}
.image-ctn2{
  width: 540px;
  height: 280px;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 20px;
}
/* .featured-img{
  transform: scale();
  transition-duration: ;
} */
.post-name{
  position: absolute;
  width: 300px;
  border-radius: 5px;
  height: auto;
  display: inline;
  line-height: 38px;
  background-color: white;
  word-break: break-all;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #353535;
  text-align: center;
  margin: 20px;
}

.recent{
  position: absolute;
  width: 1100px;
  height: 480px;
  display: flex;
  background-color: none;
  top: 760px;
}
.recent h2{
  position: absolute;
  align-items: center;
  font-size: 36px;
  margin: 20px 0 20px 0;
  width: 1100px;
  color: #353535;
}
.recent p{
  text-align: center;
  word-wrap: break-word;
  height: auto;
  width: 250px;
  position: relative;
  font-size: 20px;
}
.recent-post-ctn{
  position: relative;
  height: 300px;
  width: inherit;
  display: flex;
  top: 70px;
}
.img-recent-ctn1{
  width: 353px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
}
.img-recent-ctn2{
  width: 353px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
}
.img-recent-ctn3{
  width: 353px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}
.recent-img{
  width: 354px;
  height: 300px;
  display: inline;
}
.recent img:hover{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.featured-container img:hover{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.post-name-recent{
  position: absolute;
  width: 200px;
  border-radius: 5px;
  height: auto;
  display: inline;
  line-height: 20px;
  background-color: white;
  word-wrap: break-word;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #353535;
  text-align: center;
  margin: 20px;
}
.slider-ctn{
  position: relative;
  width: 1100px;
  height: 600px;
  border-radius: 5px;
  background-color: #EDECEC;
  top: 850px;
  overflow: hidden;
}
.slider-img{
  width: 1100px;
  height: 600px;
  background-size: cover;
}
.slider-title{
 position: absolute;
 top: 30%;
 left: 10%;
 padding: 5px;
 font-size: 50px;
 color: #ffffff;
 width: 500px;
 height: auto;
 word-wrap: break-word;
}
.slider-des{
  position: absolute;
  top: 35%;
  left: 10%;
  width: 300px;
  height: auto;
  margin: 20px 0 20px 0;
  color: #ffffff;
  word-wrap: break-word;
}
.slider-button{
  position: absolute;
  left: 10%;
  top:60%;
  color: #353535;
  font-size: 13px;
  background-color: aqua;
  padding: 10px 25px;
  border-radius: 30px;
}
.slider-ctn button:hover{
  background-color: aquamarine;
}
.slider-btn{
  position: absolute;
  top:50%;
  background: none;
  font-size: 40px;
  border-radius: 100px;
  border: none;
  color: white;
  cursor: pointer;
  user-select: none;
}
#right{
  right: 32px;
}
#left{
  left: 32px;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
 }
 
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
 }
 .txt-ctn{
   position: absolute;
   font-size: 50px;
   height: auto;
 }