@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");
@font-face {
  font-family: headings;
  font-display: swap;
  font-weight: 700;
  src: url(https://static.saltinourhair.com/build/fonts/SaltHeading.woff2)
      format("woff2"),
    url(https://static.saltinourhair.com/build/fonts/SaltHeading.woff)
      format("woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-container {
  font-family: headings;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.nav-container a {
  display: flex;
  align-items: center;
}
h1 {
  margin-left: 30px;
}
.form {
  margin: 50px 100px;
  display: flex;
  justify-content: center;
}
.container-image {
  width: 30%;
  margin-right: 50px;
}
.preview {
  border: 2px dashed #353535;
  width: 70%;
  height: 350px;
  color: white;
  font-size: 22px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.preview--icon {
  font-size: 100px;
  margin-bottom: 20px;
  color: #353535;
}
.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.preview span {
  color: #353535;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.input {
  width: 700px;
 

}
.input input {
  border: 1px solid #353535;
  padding: 10px;
  border-radius: 5px;
  display: block;
 
  margin: 10px;
  letter-spacing: 0.7px;
  font-family: "Merriweather", serif;
 

}
.input textarea {
  border: 1px solid #353535;
  padding: 10px;
  border-radius: 5px;
  display: block;
  width: 100%;
  margin: 10px;
  letter-spacing: 0.7px;
  font-family: "Merriweather", serif;
 

}
.image-item {
  display: flex;
  margin: 10px;
  width: 200px;
  height: 150px;
  padding: 10px;
  color: #353535;

  position: relative;
  /* width: 35%; */
  border-radius: 6px;
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.upload__image-wrapper{
  display: flex;
  height: 170px;
}
.preview-des {
  border: 2px dashed #353535;
  /* width: 28%; */
  height: 150px;
  width: 35%;
  color: white;
  font-size: 22px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin: 10px;
}

.add-img {
  border: 2px dashed #353535;
  /* width: 28%; */
  height: 150px;
  width: 35%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin: 10px;
  border-radius: 6px;
  color: #353535;

  overflow: hidden;
}

.preview_des--icon {
  font-size: 80px;
  margin: 10px;
  color: #353535;
  /* display: block; */
}
.preview-des span {
  color: #353535;
  font-size: 16px;
  padding: 10px;
}
.description-img {
  display: flex;
}
.description-img input {
  display: none;
}
.addDesc {
  color: #353535;
  font-size: 16px;
}
.addDesc--icon {
  font-size: 50px;
  border: 2px dashed #353535;
  /* width: 28%; */
  color: #353535;

  width: 700px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  /* overflow: hidden; */
}
.submit {
  width: 100px;
  color: #fff;
  font-family: headings;
  background-color: #3eaeff;
  font-size: 20px;
  float: right;
  border: none;
  outline: none;
  border-radius: 6px;
  margin-right: 200px;
  margin-top: 100px ;
  cursor: pointer;

}

.add-btn {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 6px;
  /* margin-left: 600px; */



}


.add-img-btn {
  /* font-size: 50px; */
  border: 2px dashed #353535;
  color: #353535;
  /* width: 28%; */
  /* width: 700px; */
  height: 150px;
  width: 150px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  font-family: headings;
  background-color: #fff;
  
}
.hidden {
  display: none;
}

