.register {
    line-height: 2.5rem;
    position:absolute;
    left: 60rem;
    top: 10rem;
    font-weight: bold;
    font-style:italic;
    font-family: loginFont;
}

.Info {
    line-height: 1.5rem;
}

h1{
    font-size: 2.5rem;
}

p{
    font-size: 1rem;
    
}

.A0{
    font-weight:bold;
    font-style: italic;
    margin-bottom:1px;
}

.flex1 {
    display: flex;
}
.A1{
    color: #8fbc8f !important;
    text-align: center;
    margin-top: 0.1px;
    margin-left: 5rem;
}
.A2{
    font-weight:bold;
    font-style: italic;
    margin-top: 0.1px;
}


.flex2 {
    display: flex;
}
.A3{
    font-size:0.8rem;

}


.A5{
    text-align: center;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding:0.5rem;
    border-radius: 8px;
    border: 1px solid ;
    font-style: italic;
}
.Input Input{
    padding:0.5rem;
    border-radius: 8px;
    border: 1px solid ;
    font-style: italic;
  }

.InputCon Input{
    width: 100%;
    padding:0.5rem;
    border-radius: 8px;
    border: 1px solid ;
    font-style: italic;
}



.icons-span-1{
    position:absolute;
    right: 1.25rem;
    padding-top:0.5rem;
    font-size:20px;
}
  
.icons-span-2{
    position: absolute;
    right: 1.25rem;
    padding-top:0.5rem;
    font-size:20px;
}

.IP1{
  margin-top:1rem;
  background-color: black;
  color: white;
}

.IP2 {
  background-color: white;
  color: black;
  font-weight: bold;
  font-style: italic;
  /* background-image: url("C:\Users\Admin\Downloads\Google__G__Logo.svg.png"); */
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 50px 5px;

}

.passDis {
    margin-top: 15px;
}

.confDis {
    margin-top: 15px;
}

.useDis {
    margin-top: 15px;
}

/* @font-face {
    font-family: loginFont;
    src: url("C:\Users\Admin\Downloads\sansita-swashed\fonts\otf\SansitaSwashed-BoldItalic.otf");
} */

  